.films {
  margin: 0 -10px;
}

.film {
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
}

.cardDisabled {
  background: #efefef;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.removeButton {
  position: absolute;
  top: 5px;
  right: 10px;
}

.link-plus {display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  color: rgb(179, 179, 179) }

.badge {
  margin: 1em
}

.card-img-bottom {
  height: 23rem;
  background: center no-repeat;
  background-size: cover;
}

.card-block{
  padding: 1em;
}

