.films {
  margin: 0 -10px;
}

.film {
  width: 350px;
  margin-left: 10px;
  margin-right: 10px;
}

.cardDisabled {
  background: #efefef;
}

.card-body a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

